@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
    --container__background: #01074b;
}

body {
    background-color: var(--container__background);
    color: #ffffff;
}